---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

**Note**: Contexts cannot be updated.

If you modify the `name`, this will delete the existing context and recreate one instead.

Creating a context for an account is only supported in CircleCI Server (self-hosted) instance.
A _warning_ message is printed to remind users about this, if owner type is selected as `account`.
You can observe this message by varying the `TF_LOG` value.

## Example Usage

{{ tffile "examples/resources/context/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

An existing context can be imported via its owner type, owner ID and unique context ID (UUID).

```console
# import an organization context
$ terraform import circleci_context.my_context "organization,<ORG ID>,<CONTEXT ID>"
```
