---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

**IMPORTANT**: Please ensure you have already created a namespace for your organization.

Please see: https://circleci.com/docs/runner-installation-linux/#create-namespace-and-resource-class

**Note**: Runner resource-classes cannot be updated.

If you modify the `resource_class` or `description`, this will delete the existing Runner resource-class and recreate one instead.

## Example Usage

{{ tffile "examples/resources/runner_resource_class/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

An existing Runner resource-class can be imported via its namespace/resource_class value, and unique ID (UUID).

```console
# import a Runner resource-class
$ terraform import circleci_runner_resource_class.my_runner "<NAMESPACE>/<RUNNER_RESOURCE_CLASS>,<ID>"
```
