---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/resources/runner_token/with_resource_class.tf" }}

### Machine Runner setup with AWS EC2 instance

This is a sample for your reference.

Please modify accordingly.

{{ tffile "examples/resources/runner_token/aws_ec2.tf" }}

Here is a sample of the userdata.yaml file:

{{ codefile "yaml" "examples/resources/runner_token/aws_ec2_userdata.yaml" }}

### Print token raw in output

**Note:** This is not recommended!

However, if you need to, you can print the token (sensitive) out in the output.

{{ tffile "examples/resources/runner_token/print_token.tf" }}

{{ .SchemaMarkdown | trimspace }}
