---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

**Note**: Scheduled pipelines are currently [not supported for standalone projects](https://circleci.com/docs/github-apps-integration/#scheudled-pipelines).

Please see [the official CircleCI documentation for more information](https://circleci.com/docs/scheduled-pipelines/).

## Example Usage

### Weekly schedule

{{ tffile "examples/resources/schedule/monday_weekly.tf" }}

### Specific days of the month

This example showcases how to set up the pipeline parameters using `jsonencode` as well.

{{ tffile "examples/resources/schedule/specific_days_months.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

An existing schedule can be imported via its unique ID (UUID).

```console
$ terraform import circleci_schedule.my_schedule "<UUID>"
```
