---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

Please see [the official CircleCI V2 API documentation for schema requirements](https://circleci.com/docs/api/v2/index.html#operation/createWebhook).

## Example Usage

{{ tffile "examples/resources/webhook/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

An existing webhook can be imported via its unique ID (UUID).

```console
$ terraform import circleci_webhook.my_webhook "<UUID>"
```
