---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

Currently, the provider does not perform any validation.
As such, it is expected that the user conforms to the value requirements.
For example, the provider does not validate that the project ID is a valid UUID.

Please see [the official CircleCI V2 API documentation for schema requirements](https://circleci.com/docs/api/v2/index.html#operation/createWebhook).

## Example Usage

{{ tffile "examples/resources/webhook/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
