---
page_title: "Provider: CircleCI"
description: |-
  The CircleCI provider enpowers users to CircleCI resources via Terraform
---

# {{ .ProviderShortName | upper }} Provider

**This is an unofficial Terraform provider for CircleCI.**

The CircleCI provider supports the creation of specific CircleCI resources.

Currently, the following resources are supported:

- [Project](https://circleci.com/docs/create-project/)
- [Project Webhook](https://circleci.com/docs/webhooks/)
- [Project Scheduled Pipeline](https://circleci.com/docs/scheduled-pipelines/)
- [Project Environment Variables](https://circleci.com/docs/set-environment-variable/#set-an-environment-variable-in-a-project)
- Project Checkout key
- [Context](https://circleci.com/docs/contexts/)
- [Context Environment Variables](https://circleci.com/docs/contexts/#adding-and-removing-environment-variables-from-restricted-contexts)
- [Runner Resource-class](https://circleci.com/docs/runner-faqs/#what-is-a-runner-resource-class)
- [Runner Token](https://circleci.com/docs/runner-faqs/#what-is-a-runner-resource-class)

Use the navigation to the left to read about the available resources.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
