---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

**Note**: Checkout keys are currently [not supported for standalone projects](https://circleci.com/docs/gitlab-integration/#additional-ssh-keys-only).

## Example Usage

{{ tffile "examples/data-sources/checkout_keys/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
