---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/data-sources/project/data-source.tf" }}

### Standalone (GitHub / Gitlab) project

{{ tffile "examples/data-sources/project/standalone.tf" }}

{{ .SchemaMarkdown | trimspace }}
