---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Assumption

The provider assumes that the CircleCI user has access to the namespace.

## Example Usage

{{ tffile "examples/data-sources/runner_resource_classes/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
