---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Maximum number of webhooks

Currently, there is **a maximum of 9 webhooks per project** as of March 5th, 2023.
This was confirmed by testing against the V2 API and the CircleCI UI.

## Example Usage

{{ tffile "examples/data-sources/webhooks/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
